@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

html,
body {
	width: 100%;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #00AFE5;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

button:focus,
input:focus,
select:focus,
textarea:focus,
a:focus {
	box-shadow: none!important;
	outline: none!important;
}

img {
	width: 100%;
	height: auto;
}

a {
	text-decoration: none!important;
}
@media (min-width: 992px) and (max-width: 1199px) {
	#pop-up {
		width: 70%;
		height: 40%;
	}
}

@media (min-width: 1200px) {}


#makers {
	padding-top: 50px;
}

#top-makers .item {
	height: 250px;
	padding: 10px;
	background-color: #FFFFFF;
	color: #000000;
	cursor: pointer;
	background-color: rgba(244, 244, 244, 0.6);
	transition: all .5s ease;
	border-bottom-right-radius: 20px;
}

#top-makers .item:hover {
	background-color: rgba(244, 244, 244, 1);
	transition: all .3s ease;
	-webkit-box-shadow: 0px 15px 20px -15px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 15px 20px -15px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 15px 20px -15px rgba(0, 0, 0, 0.75);
}

#top-makers .item h4:before {
	margin-right: 5px;
	color: #00AFEF;
}

#top-makers .makers-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

#top-makers .makers-logo img {
	transition: all .7s ease;
}
/* Media queries */

@media (max-width: 320px) {
	#pop-up {
		width: 90%;
		height: 50%;
	}
	#content {
		padding-top: 70px;
	}
	#search-vehicle {
		padding: 10px;
	}
	#search-vehicle h4 {
		font-size: 15px;
		text-align-last: center;
	}
	#search-vehicle #btn-search-vehicle {
		width: 100%;
	}
	#items .top-items {
		font-size: 16px;
		margin-top: 20px;
	}
	#top-items .item img {
		left: 30%;
	}
}

@media (min-width: 321px) and (max-width: 575px) {
	#pop-up {
		width: 90%;
		height: 50%;
	}
	#content {
		padding-top: 70px;
	}
	#search-vehicle {
		padding: 10px;
	}
	#search-vehicle h4 {
		font-size: 15px;
		text-align-last: center;
	}
	#search-vehicle #btn-search-vehicle {
		width: 100%;
	}
	#items .top-items {
		font-size: 16px;
		margin-top: 20px;
	}
	#top-items .item img {
		left: 30%;
	}
}

@media (min-width: 576px) and (max-width: 767px) {
	#pop-up {
		width: 60%;
		height: 80%;
	}
	#content {
		padding-top: 70px;
	}
	#search-vehicle {
		padding: 15px;
	}
	#search-vehicle h4 {
		font-size: 16px;
		text-align-last: center;
	}
	#search-vehicle #btn-search-vehicle {
		width: 100%;
	}
	#items .top-items {
		font-size: 20px;
		margin-top: 25px;
	}
	#top-items .item img {
		left: 25%;
	}
}

@media (min-width: 768px) and (max-width: 811px) {
	#pop-up {
		width: 80%;
		height: 40%;
	}
	#search-vehicle {
		padding: 15px;
	}
	#search-vehicle h4 {
		font-size: 20px;
		text-align-last: center;
	}
	#search-vehicle #btn-search-vehicle {
		width: 100%;
	}
	#items .top-items {
		font-size: 22px;
		margin-top: 25px;
	}
	#top-items .row-fluid {
		height: 300px;
	}
	#top-items .mb-0 {
		margin-bottom: 15px!important;
	}
	#top-items .item img {
		top: 10%;
		left: 25%;
	}
}

@media (min-width: 812px) and (max-width: 991px) {
	#pop-up {
		width: 60%;
		height: 80%;
	}
	#search-vehicle {
		padding: 15px;
	}
	#search-vehicle h4 {
		font-size: 20px;
		text-align: center;
	}
	#search-vehicle #btn-search-vehicle {
		width: 100%;
	}
	#items .top-items {
		font-size: 22px;
		margin-top: 20px;
		margin-bottom: 20px!important;
	}
	#top-items .row-fluid {
		height: 300px;
	}
	#top-items .mb-0 {
		margin-bottom: 10px!important;
	}
	#top-items .item img {
		top: 10%;
		left: 20%;
	}
}
/* tin tức */
#news{
	padding-bottom: 100px;
}
#news h2{
	padding-left: 250px;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(4,1fr);
	grid-auto-columns: minmax(60px,auto);
    flex-wrap: wrap;
    width: 1025px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    gap: 30px;
}
#news h2{
padding-left: 210px;
}


#gallery .content {
	display: grid;
	height: 100%;
    width: 259px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.12);   
    transition: .4s;
    background: #f2f2f2;
}

#gallery .content .image {
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#gallery .content:hover img {
    transform: scale(1.1);
}


#gallery .content img {
    object-fit: cover;
    transition: transform 0.6s ease;
    width: 100%;
    display: block;

}
#gallery .content:hover h4{
    color: red;
}

#gallery p {
    margin: 0; 
    padding: 0 10px 5px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.52px;
    word-wrap: break-word;

}

#gallery h4 {
    padding: 0 10px;
    text-transform: uppercase;
    margin: 3px 0;
    letter-spacing: 0.6px;
    line-height: 25px;
	font-weight: 500;
	font-size: 15px;
}
#gallery p, #gallery h4{
	color: black;
	text-align: left;
	padding-bottom: 3px;
}

@media (min-width: 992px) and (max-width: 1199px) {
	#pop-up {
		width: 70%;
		height: 40%;
	}
}

@media (min-width: 1200px) {}


