@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

html,
body {
	width: 100%;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #00AFE5;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

button:focus,
input:focus,
select:focus,
textarea:focus,
a:focus {
	box-shadow: none!important;
	outline: none!important;
}

img {
	width: 100%;
	height: auto;
}

a {
	text-decoration: none!important;
}
@media (min-width: 992px) and (max-width: 1199px) {
	#pop-up {
		width: 70%;
		height: 40%;
	}
}

@media (min-width: 1200px) {}


#makers {
	padding-top: 50px;
}

#top-makers .item {
	height: 250px;
	padding: 10px;
	background-color: #FFFFFF;
	color: #000000;
	cursor: pointer;
	background-color: rgba(244, 244, 244, 0.6);
	transition: all .5s ease;
	border-bottom-right-radius: 20px;
}

#top-makers .item:hover {
	background-color: rgba(244, 244, 244, 1);
	transition: all .3s ease;
	-webkit-box-shadow: 0px 15px 20px -15px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 15px 20px -15px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 15px 20px -15px rgba(0, 0, 0, 0.75);
}

#top-makers .item h4:before {
	margin-right: 5px;
	color: #00AFEF;
}

#top-makers .makers-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

#top-makers .makers-logo img {
	transition: all .7s ease;
}

/* Media queries */

@media (max-width: 320px) {
	#pop-up {
		width: 90%;
		height: 50%;
	}
	#content {
		padding-top: 70px;
	}
	#search-vehicle {
		padding: 10px;
	}
	#search-vehicle h4 {
		font-size: 15px;
		text-align-last: center;
	}
	#search-vehicle #btn-search-vehicle {
		width: 100%;
	}
	#items .top-items {
		font-size: 16px;
		margin-top: 20px;
	}
	#top-items .item img {
		left: 30%;
	}
}
