@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

html,
body {
	width: 100%;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

button:focus,
input:focus,
select:focus,
textarea:focus,
a:focus {
	box-shadow: none!important;
	outline: none!important;
}

img {
	width: 100%;
	height: auto;
}

a {
	text-decoration: none!important;
}
#content {
	padding: 50px 0;
}

#content .container {
	position: relative;
}

#content h2 {
	margin-bottom: 30px;
	color: #00AFE5;
}

#content .icon {
	width: 25px;
	margin-right: 5px;
	margin-bottom: 4px;
	vertical-align: top;
}

#filters .custom-select.arrow {
	background: url('../img/icon/arrow-black-bottom.png') no-repeat;
	width: 70%;
	background-position: 98% 55%;
	background-size: 26px 26px;
	font-size: 13px;
	transition: .2s;
}

.custom-select-arrow {
	background: #FFFFFF url('../img/icon/arrow-black-top.png') no-repeat!important;
	background-position: 98% 55%!important;
	background-size: 26px 26px!important;
}

#filters .form-check {
	padding: 0;
}

#filters select {
	color: #000000;
	cursor: pointer;
}

#filters select:focus {
	border-color: #00AFEF;
}

#filters label {
	display: block;
	margin: 2px 0;
	cursor: pointer;
}

#filters label:first-child {
	margin-top: 0;
}

#filters label:last-child {
	margin-bottom: 0;
}

#filters .btn-collapse {
	position: absolute;
	right: 5%;
	width: 22px;
	height: 22px;
	background: url("../img/icon/arrow-grey-bottom.png");
	background-size: contain;
	transition: .2s;
}

#filters .btn-collapse.collapsed {
	background: url("../img/icon/arrow-grey-top.png");
	background-size: contain;
	transition: .2s;
}

#filters label input[type="checkbox"],
#filters div input[type="checkbox"] {
	display: none;
	z-index: -9999;
}

#filters #btn-expand {
	background-color: transparent;
	padding: 0;
	margin: 0;
	margin-right: 10px;
}

#filters #expand1,
#filters #expand2
#filters #expand3
#filters #expand4
#filters #expand5
#filters #expand6 {
	padding-left: 25px;
}

#filters .btn-expand {
	background-color: transparent;
	padding: 0;
	margin-right: 10px;
}

#filters label .checkbox-span {
	height: 14px;
	width: 14px;
	border: 1px solid #000000;
	display: inline-block;
	position: relative;
	top: 1.8px;
	border-radius: 2px;
	margin-right: 5px;
}

#filters label input:checked + .checkbox-span {
	background: url('../img/icon/check.svg') center center no-repeat;
	background-color: #FFFFFF;
	background-size: 10px 10px;
}

#filters .sort-by,
#filters .category,
#filters .product-ratings,
#filters .brand,
#filters .price {
	border-bottom: 1px solid #E4E4E4;
}

#filters .header {
	font-weight: bold;
	letter-spacing: 2px;
	margin: 5px 0;
}

#filters .check-all {
	text-transform: none;
}

#filters .switch-button {
	position: absolute;
	left: 40%;
	display: inline-block;
}

#filters .switch-button-label {
	cursor: pointer;
}

#filters .switch-button-label.on {
	color: #08C;
}

#filters .switch-button-label.off {
	color: #ADADAD;
}

#filters .switch-button-background {
	display: inline-block;
	position: relative;
	top: 1.5px;
	margin: 0 5px;
	width: 27px;
	height: 13px;
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	border-radius: 4px;
	cursor: pointer;
}

#filters .switch-button-button {
	position: absolute;
	left: -1px;
	top: -1px;
	width: 13px;
	height: 13px;
	background-color: #FAFAFA;
	border: 1px solid #AAAAAA;
	border-radius: 4px;
	transition: all .3s ease;
}

#filters .switch-button-button.checked {
	left: 13px;
	transition: all .3s ease;
}

#filters .search-collapse {
	position: absolute;
	right: 20%;
}

#filters #collapseSearchCategory input {
	width: 100%;
	padding: 5px 5px 3px;
	margin: 5px 0;
	font-size: 12px;
	border: 1px solid #E4E4E4;
	border-radius: 2px;
}

#filters #collapseSearchCategory input:focus {
	border-color: #00AFEF;
}

#filters .btn-seeMore {
	padding-left: 0;
	background-color: transparent;
}

#filters .product-ratings .fa-star {
	color: rgb(188, 188, 188);
	cursor: pointer;
}

#filters .product-ratings .form-check-label:hover {
	opacity: 0.8;
}

#filters .product-ratings .fa-star.checked {
	color: rgb(255, 204, 0);
}

#filters .price input {
	margin-top: 5px;
	padding: 3px 5px;
	border: 1px solid #E4E4E4;
	border-radius: 2px;
	width: 30%;
}

#filters .price input:focus {
	border-color: #00AFEF;
}

#filters .price input::-webkit-outer-spin-button,
#filters .price input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#filters #btn-submit {
	padding: 5px 10px;
	font-weight: bold;
	cursor: pointer;
	font-size: 15px;
}
#search-vehicle {
	padding: 15px;
	margin-bottom: 20px;
	background-color: rgba(240, 240, 240, 0.7);
	border-radius: 3px;
	border: 1px solid transparent;
	color: #000000;
}

#products #search-vehicle h4 {
	margin: 0;
	padding-bottom: 10px;
}

#products #search-vehicle .custom-select.arrow {
	font-size: 12px;
	width: 100%;
	background: #FFFFFF url('../img/icon/arrow-black-bottom.png') no-repeat;
	background-position: 98% 55%;
	background-size: 26px 26px;
	color: #000000;
	font-weight: bold;
	cursor: pointer;
}

#products #search-vehicle .custom-select:focus {
	border-color: #00AFEF;
}

#products #search-vehicle .custom-select:disabled {
	color: #58595B;
	opacity: 0.8;
	cursor: not-allowed;
}

#products #search-vehicle #btn-search-vehicle {
	width: 100%;
	font-weight: bold;
	border: 1px solid transparent;
}

#products #search-vehicle #btn-search-vehicle:disabled {
	background-color: #58595b;
	opacity: 0.8;
	cursor: not-allowed;
}

